@import '../base/index.scss';

.contact {
  .message-display {
    height: 50%;
    background-color: white;
    margin-bottom: 1em;
    border: 1px solid black;
    padding: 0.5em;
    overflow: scroll;

    .message {
      &[isvisible='false'] {
        display: none;
      }

      span {
        font-family: $title-font;
        font-size: 11px;
        padding-right: 0.25em;
      }

      &:nth-of-type(odd) {
        span {
          color: blue;
        }
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      border: 1px solid black;
      background-color: white;
      font-family: $body-font;

      &:focus {
        outline: none;
        border: 2px dashed #bef3be;
      }
    }

    .message {
      width: 100%;
      height: 100%;
      pointer-events: all;
      padding: 0;
      height: 170px;
      max-height: 5em;
      max-width: 100%;

      &-box {
        height: 5em;
        background-color: white;
        pointer-events: none;
        display: flex;

        p {
          position: absolute;
          z-index: 2;
          padding: 4px 8px;
        }
      }

      &-sent {
        transform: translate(100%, 50%);
      }
    }

    .name {
      width: 35%;

      @media #{$bp-480} {
        width: 40%;
      }
    }

    .email {
      width: 55%;
    }

    .button {
      width: max-content;
      align-self: flex-end;
      padding: 8px 35px;
      background-color: white;
      border-radius: 40px;
      margin-top: 0.5em;
    }
  }

  &-content {
    background-color: #d5e0ff;
    min-height: 100%;
    height: max-content;
  }

  &-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
  }
}
