.header-nav {
    height: 4em;
    background-color: $white;
    position: fixed;
    width: 100%;

    @include box-shadow;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-family: $title-font;
        height: 100%;
    }
}
